@import url("../styles.css");

/* DARKMODE-EINSTELLUNGEN */
.darkmode .content {
    filter: invert();
}

.darkmode .image {
    filter: invert();
}

/* REZEPTÜBERSCHRIFT UND MARKER */
/* Section in der headline und marker drin ist*/
.top {
    margin: 120px auto 20px 140px;
    color: var(--webwhite);
}

.headline {
    font-size: 50px;
    float: left;
}

.marker {
    width: 35px;
    filter: brightness(0.85);
    margin-left: 60px;
    transform: rotate(10deg);
}


/* BROTKRUMNAVIGATION */

/* man gestaltet die Liste */
.breadcrumb {
    padding: 15px 50px;
    list-style: none;
    background-color: var(--webblue);
}

/* damit die Listenelemente nebeneinander liegen */
.breadcrumb li {
    display: inline;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 200;
}

/*fügt > nach den Listenelementen ein, die vor dem letzten kommen*/
.breadcrumb li+li:before {
    content: ">\00a0";
    color: var(--webwhite);
    padding: 4px;
}

/* wie alle Links aussehen sollen */
.breadcrumb li a {
    color: var(--webwhite);
    text-decoration: none;
}

.breadcrumb li:last-child {
    font-weight: 600;
    font-style: normal;
}

.breadcrumb li a:hover {
    color: var(--weborangelight);
    text-decoration: underline;
}


/* ZUTATEN */
/*Bereich links in dem alles stehen soll*/
aside {
    background-color: var(--webblack);
    padding: 20px 30px 25px 30px;
    grid-area: aside;
}

/* Bereich in dem die Buttons +, - und Kochmodus dann stehen */
.buttonCollection {
    width: 80%;
    margin: 0 auto;
    height: 150px;
    background-color: var(--webwhite);
    border-style: none;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    /* ordnet portionsControls und cookingMode übereinander an */
    flex-direction: column;
    /* sorgt dafür das portionsControls oben am weißen Rand liegen und cooking Mode unten */
    justify-content: space-between;
    align-items: center;
}

.portionsControls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main button {
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    border: 4px solid var(--webblack);
    border-radius: 15px;
    background-color: var(--webblack);
    color: var(--webwhite);

}

button:active {
    background-color: var(--weborange);
}

button:hover {
    border-color: var(--weborange);
}

/* KOCHMODUS-BUTTON */
.cookingMode {
    border-style: none;
    background-color: var(--webblue);
    height: 80px;
    width: 100%;
    display: block;
    font-weight: 400;
}

.cookingMode:hover {
    background-color: var(--weborange);
}

/* ZUTATENLISTE */
.ingredients {
    padding-top: 15px;
    width: 80%;
    margin: 0 auto;
    color: var(--webwhite);
}

/*das die liste keine Bullet-Points hat*/
.ingredients ul {
    list-style-type: none;
}

/* Zutaten Liste formatieren */
.ingredient-amount {
    display: inline-block;
    text-align: left;
    min-width: 50px;
    margin-right: 5px;
}

/* CONTENT BEREICH */
/*Grid, für aside-Bereich und den Bereich rechts*/
.contentPage {
    /* background-color: var(--webwhite); */
    display: grid;
    width: 100%;
    min-height: 100%;
    grid-template-columns: minmax(325px, 25%) 1fr;
    /* minmax: damit linke Spalt responsiv Verhaltet bis zu 325px (da Breite fix, damit Inhalt nicht zerquetscht) */
    grid-template-areas:
        'aside content';
}

/*Bereich rechts (Bild und Zubereitungsschritte)*/
.content {
    background-color: var(--webwhite);
    color: var(--webblack);
    height: auto;
    grid-area: content;
    /* Die Prozentwerte ermöglichen es, dass die Abstände wenn sich das Fenster verkleinert, horizontal auch verkleinert */
    padding: 50px 10% 50px 10%;
}

/* Bild auf der Unterseite */
.image {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Aufzählungsnummern vor den Zubereitungsschritten */
ol li::marker {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

/* vertikale Abstände zwischen den einzelnen Zubereitungsschritten */
.content li {
    margin-bottom: 25px;
}

/* PRINT-BUTTON */
.printButton {
    width: auto;
    background-color: var(--webblue);
    border-style: none;
    padding: 10px 10px 10px 10px;
    gap: 8px;
    float: right;
    margin: 0px;
}

.printButton:hover {
    background-color: var(--weborange);
}

@media (max-width:768px) {

    /* Grid, um die Inhalte neu zu strukturieren */
    .contentPage {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'aside'
            'content'
    }

    aside {
        padding: 30px;
        /* Seitenbereich auf die ganze breite ziehen */
        grid-area: aside;
    }

    .content {
        padding: 30px;
        /* height: 100%; */
        grid-area: content;
    }

    /* Buttons zentrieren */
    .buttonCollection {
        width: 70%;
        margin: 0 auto;
    }

    .ingredients {
        width: 70%;
        margin: 0 auto;
        padding-left: 0px;
    }

    /* damit + und - Button mitwächst, da im Handy Modus sie mehr Platz haben und sonst sehr klein erscheinen*/
    .portionsControls button {
        /* Buttons wachsen mit */
        flex-grow: 1;
        /* Damit Buttons nicht zu breit werden */
        max-width: 120px;
        /* HIER: Die Höhe bleibt nun konstant wie zuvor */
        height: 40px;
    }

    /* BREADCRUMB AUFLÖSEN */
    .breadcrumb {
        display: none;
    }

    /* Headline Bereich optisch anpassen */
    .top {
        margin: 120px auto 20px 100px;
        color: var(--webwhite);
    }
}

@media print {

    .printButton,
    footer,
    header,
    .top,
    .buttonCollection,
    .breadcrumb {
        display: none;
    }

    /* auf alle verbleibende Elemente wird angewendet */
    * {
        position: static !important;
        /* Hebt fixed, absolute und sticky auf; sonst wird Text an manchen Stellen überdeckt */
    }

}