/* FARBEN */
/* hier werden die Farben initialisiert, die dann überall im CSS genutzt werden sollten */
:root {
    --weborange: #F6523E;
    --weborangelight: #FF7361;
    --webblue: #37295A;
    --webwhite: #FCFDF5;
    --webgray: #E4E4E4;
    --webblack: #1C1E1F;
}


/* Lightmode und Darkmode */
.darkmode {
    --weborange: #1C1E1F;
    --weborangelight: #313131;
    --webblue: #0f0f0f;
    --webwhite: #cdcec6;
    --webgray: #E4E4E4;
    --webblack: #1C1E1F;
}



.darkmode #header-logo {
    filter: brightness(5) saturate(0);
}

.darkmode .transition-overlay {
    filter: brightness(2) invert() saturate(0);
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 15px;
    background-color: var(--weborange);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    border: none;
    z-index: 9999;
}

#theme-switch:hover {
    cursor: pointer;
    border: 2px solid;
    border-color: var(--webwhite);
}

#theme-switch svg:hover {
    transform: scale(1.1);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

/* Aussehen des Dropdown-Menüs */
.main-nav {
    list-style: none;
    /* Liste ohne Listenpunkte */
    display: flex;
    gap: 40px;
    /* Abstand zwischen den einzelnen Menüpunkten */
    padding: 15px;

    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 12pt;
    font-style: normal;
}

.main-nav a {
    color: var(--webwhite);
    text-decoration: none;
}

.main-nav a:hover {
    color: var(--webwhite);
    text-decoration: none;
    font-weight: 700;
}

.dropdown {
    position: relative;
    /* Menü erscheint direkt darunter */
}

/* Das Menü, das versteckt wird */
.menu_content {
    display: none;
    /* Erstmal unsichtbar */
    position: absolute;
    padding: 40px 0px 0px 0px;

    /* Direkt unter den Menüpunkt */
    left: 0;
    background-color: var(--weborangelight);
    min-width: 160px;
    list-style: none;
    z-index: 2100;
    /* Damit es über anderem Inhalt liegt */
}

/* Zeige es beim Hovern (disabled) */
/* Show submenu on hover for desktop */
.dropdown:hover .menu_content {
    display: block;
}

/* Show menus when parent has 'open' (click-controlled) */
li.open>.menu_content,
li.open>.submenu,
.dropdown.open>.menu_content {
    display: block !important;
}

/* Styling für die Links im Menü */
.menu_content li a {
    display: block;
    padding: 8px 20px 10px 20px;
}

.menu_content li a:hover {
    background-color: var(--webblue);
    /* Effekt beim Hovern */

}

.menu_content li {
    position: relative;
}


/* ZWEITE EBENE DES MENÜS */
.submenu {
    padding: 0px;
    display: none;
    position: absolute;
    /* Schiebt das Menü genau rechts neben den Kontinent */
    left: 100%;
    top: 0;

    background-color: var(--weborangelight);
    min-width: 160px;
    list-style: none;
    z-index: 2100;

    /* SCROLL-FUNKTION */
    max-height: 250px;
    /* Hier stellst du die feste Höhe ein */
    overflow-y: auto;
    /* Scrollbalken erscheint automatisch bei vielen Ländern */
    overflow-x: hidden;
    /* Verhindert seitliches Wackeln */
    border-left: var(--webblue) solid 5px;
    scrollbar-color: var(--webblue) transparent;

}

/* Nur das Untermenü des aktuell gehoverten Listenelements anzeigen */
.menu_content li:hover>.submenu,
.menu_content li:focus-within>.submenu,
.submenu:hover {
    display: block;
}

/* Styling für die Länder-Links */
.submenu li a {
    padding: 8px 20px 10px 20px;
    display: block;
}


#sidebar-active,
.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

/* SCHRIFTARTEN */
/* hier werden die Schriftarten importiert */
.chelsea-market-regular {
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* hier werden den Schriftselektoren die Schriftarten und Schriftstile hinzugefügt */
h1 {
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-size: 85pt;
    font-style: normal;
    line-height: 95%;
}

h2 {
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-size: 30pt;
    font-style: normal;
    line-height: 95%;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20pt;
    font-style: normal;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12pt;
    font-style: normal;
}


* {
    margin: 0px;
}

body {
    background-color: var(--weborange);
}


/* HEADER */
/* hier werden die Stile für den Header gesetzt, der auf jeder Seite gleich ist */
header {
    width: 100vw;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 15px 15px;
    background-color: var(--weborangelight);
    color: var(--webwhite);
    padding: 22px 80px 22px 80px;
    z-index: 9999;
    /*oben rechts unten links*/
}

header .icon {
    padding-right: 5px;
}

header img {
    width: 52px;
    margin-right: 50px;
}

#header_search_bar {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 10pt;
    font-style: normal;
    color: var(--webwhite);
    background-color: var(--weborange);
    width: 20%;
    border: var(--weborange) solid 15px;
    border-radius: 15px;
    margin: auto;

    /* einfügen des Suchicons */
    padding-left: 35px;
    background-image: url('images/search.svg');
    background-repeat: no-repeat;
    background-position: 2px center;
    background-size: 18px;
}

#header_search_bar:focus {
    outline: 2px solid var(--webwhite);

}

#language_icon {
    width: 20px;
    padding-left: 40px;
    background-image: url('images/language.svg');
    background-repeat: no-repeat;
    background-position: 2px center;
    background-size: 22px;

}








/* FOOTER */
/* hier werden die Stile für den Footer gesetzt, der auf jeder Seite gleich ist */

footer {
    background-color: var(--webblue);
    color: var(--webwhite);
    padding: 20px 120px 20px 120px;
    /*oben rechts unten links*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Verteilt Links, Mitte, Rechts */
    align-items: center;
    margin-top: 0px;
    z-index: 500;

}

footer p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 10pt;
    font-style: normal;
    margin-right: 30px;
}

footer a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 10pt;
    font-style: normal;
    text-decoration: none;
    color: var(--webwhite);
}

footer img {
    width: 25px;
    margin: 8px;
    float: right;
    transition: transform 0.2s;
}

footer img:hover {
    transform: scale(1.1);
    /* Effekt beim Drüberfahren */
}

.footer-left {
    display: flex;
    flex: 2;
    justify-content: flex-start;
}

.footer-center {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    /* Zentriert die Links in der Mitte */
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    padding-left: 100px;
}

#topSection {
    background-color: var(--weborange);
    color: var(--webwhite);
    padding: 30px 120px 30px 192px;

}

#explanation {
    background-color: var(--webblue);
    color: var(--webwhite);
    text-align: center;
    padding: 22px 80px 22px 80px;

}

#otherDishes {
    background-color: var(--webwhite);
    color: var(--webblack);
    padding: 22px 80px 22px 80px;
}




/* SEITENÜBERGÄNGE  */
.transition-overlay {
    position: fixed;
    /* Startet ganz unten, außerhalb des Sichtfelds */
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--webwhite);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Übergangsanimation zu einer anderen Seite */
.is-animating {
    animation: transitionFull 1.2s forwards;
}

@keyframes transitionFull {
    0% {
        top: 100%;
        /* Ganz unten */
    }

    40% {
        top: 0;
        /* Bleibt in der Mitte (deckt alles ab) */
    }

    60% {
        top: 0;
        /* Hält kurz an für das Logo */
    }

    100% {
        top: -100%;
        /* Fährt nach oben raus */
    }
}


/* Animation beim ersten laden der Seite */
.is-animating2 {
    animation: transitionStart 1.2s forwards;
}

@keyframes transitionStart {
    0% {
        top: 0;
        /* Ganz unten */
    }

    40% {
        top: 0;
        /* Bleibt in der Mitte (deckt alles ab) */
    }

    60% {
        top: 0;
        /* Hält kurz an für das Logo */
    }

    100% {
        top: -100%;
        /* Fährt nach oben raus */
    }
}

.overlay-logo {
    width: 12%;
    align-self: center;
}







@media (max-width: 1000px) {

    #theme-switch {
        top: 13px;
    }
   

    /* --- HEADER & BURGER (Original-Stil beibehalten) --- */
    header {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    #header-logo {
        margin: 0;
        width: 45px;
    }

    #header_search_bar,
    header nav:last-of-type,
    #language_icon {
        display: none;
    }

    /* SIDEBAR CONTAINER */
    .links-container {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100vh;
        background-color: var(--webblack);
        /* Nutzt deine Variable */
        z-index: 2000;
        transition: left 0.4s ease-in-out;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        overflow-y: auto;
        /* Erlaubt Scrollen, wenn Menüs weit aufklappen */
    }

    /* (reverted sidebar-open behavior) */

    #sidebar-active:checked~.links-container {
        left: 0;
    }

    /* --- AKKORDION LOGIK --- */
    .main-nav {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    /* HOVER KOMPLETT AUSSCHALTEN (disabled here to avoid hiding open menus) */
    /* .dropdown:hover .menu_content,
    .menu_content li:hover>.submenu {
        display: none !important;
    } */

    /* UNTERMENÜS STYLING */
    .menu_content,
    .submenu {
        display: none;
        position: static;
        /* Drückt den Rest nach unten */
        width: 100%;
        background-color: rgba(255, 255, 255, 0.05);
        /* Dezente Abhebung */
        list-style: none;
        padding: 0;
    }

    /* Anzeigen nur über die Klasse 'open' */
    li.open>.menu_content,
    li.open>.submenu {
        display: block !important;
    }

    .main-nav li {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .main-nav a {
        display: block;
        padding: 15px 25px;
        color: var(--webwhite);
        text-decoration: none;
    }

    /* PFEIL-INDIKATOREN */
    .has-submenu>a::after {
        content: ' ▼';
        float: right;
        font-size: 0.8em;
        transition: transform 0.3s;
    }

    li.open>a::after {
        transform: rotate(180deg);
    }

    .menu_content li a:hover {
        background-color: var(--weborange);
        /* Effekt beim Hovern */

    }

    /* BURGER ICONS*/
    .open-sidebar-button {
        position: absolute;
        left: 20px;
        top: 15px;
        display: block;
        z-index: 10;
        cursor: pointer;
    }

    .darkmode .open-sidebar-button {
        filter: brightness(2.5) saturate(0);
    }

    .open-sidebar-button .burger-icon-hover {
        display: none;
    }

    .open-sidebar-button:hover .burger-icon-default {
        display: none;
    }

    .open-sidebar-button:hover .burger-icon-hover {
        display: block;
    }

    .close-sidebar-button {
        position: absolute;
        top: 18px;
        left: 20px;
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 1000px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        /* Richtet die Flex-Bereiche links aus */
        padding: 40px 20px;
        gap: 30px;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        /* Inhalt innerhalb der Bereiche nach links */
        justify-content: flex-start;
        gap: 15px;
        padding-left: 40px;
    }

    .footer-left {
        padding-left: 25px;
    }

    .footer-center a,
    .footer-center p {
        text-align: left;
        margin: 0;
    }

    .footer-right {
        flex-direction: row;
        /* Social Icons bleiben nebeneinander */
        gap: 15px;
    }

    footer img {
        float: none;
        /* Entfernt den Float, damit Flexbox sauber greift */
        margin: 0;
    }
}