@import url("../styles.css");

/*darkmode*/
.darkmode .left-side {
    filter: invert();
}
.darkmode .dish>img {
    filter: invert() ;
}
/* ÜBERSCHRIFT UND MARKER */
.top {
    margin: 120px auto 20px 140px;
    color: var(--webwhite);
}

.headline {
    font-size: 50px;
    float: left;
}

.marker {
    width: 35px;
    filter: brightness(0.85);
    margin-left: 60px;
    transform: rotate(10deg);
}


/* BROTKRUMNAVIGATION */

/* man gestaltet die Liste */
.breadcrumb {
    padding: 15px 50px;
    list-style: none;
    background-color: var(--webblue);
}

/* damit die Listenelemente nebeneinander liegen */
.breadcrumb li {
    display: inline;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 200;
}

/*fügt > nach den Listenelementen ein, die vor dem letzten kommen*/
.breadcrumb li+li:before {
    content: ">\00a0"; /*ein geschütztes Leerzeichen*/
    color: var(--webwhite);
    padding: 4px;
}

/* wie alle Links aussehen sollen */
.breadcrumb li a {
    color: var(--webwhite);
    text-decoration: none;
}

.breadcrumb li:last-child {
    font-weight: 600;
    font-style: normal;
}

.breadcrumb li a:hover {
    color: var(--weborangelight);
    text-decoration: underline;
}

/* grid */
.page-layout {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%; /*volle Breite des Bildschirms*/
    min-height: 100%; /*das Raster mindestens so hoch wie der Bildschirm ist*/
    grid-template-areas:
        "left right";
}

/* left side */
.left-side {
    background-color: var(--webwhite);
    padding: 40px 30px;
    height: auto;
    grid-area: left;
}

/* right side */
.right-side {
    position: sticky;
    background-color: var(--webblack);
    padding: 40px 30px;
    grid-area: right;
    color: var(--webwhite);
}


.dish {
    display: flex;
    align-items: center;
    background-color: var(--webgray);
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: none;
    gap: 15px;
    position: relative;
}

.uhr {
    height: 20px;
    filter: brightness(0.5); /*reduziert die Helligkeit des Icons auf 50%*/
}

#zeitangabe {
    display: flex;
}

.kleintext{
    padding-left: 10px;
}
.dish>img { /*direktes Kind-Element einer .dish-Klasse*/
    width: 250px;
    height: 180px;
    object-fit: cover; /*Das Bild wird so skaliert, dass es den Bereich (250x180px) komplett ausfüllt*/
    border-radius: 12px;
    margin-right: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*"zum Gericht"-Button wird bei allen Karten immer auf der gleichen Höhe (unten) ausgerichtet sein*/
    width: 100%;

}

.info h3 {
    margin: 0 0 5px 0; /*unten*/
}


.info p {
    margin: 0 0 5px 0;
    color: var(--webblack);
}

.recipe-btn {
    align-self: flex-end; /*ganz rechts*/
    background-color: var(--weborangelight);
    color: var(--webwhite);
    border: none;
    padding: 12px 25px; /*o/u r/l*/
    border-radius: 8px;
    cursor: pointer; /*Button ist interaktiv*/
    margin-top: auto;
    font-size: 14px;

}

.recipe-btn:hover {
    background-color: var(--webblue);
    
}

.toggle-category {
    background-color: var(--webgray);
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    display: block;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12pt;
    font-style: normal;
}


.hidden {
    display: none;
}
/* Mehr/weniger anzeigen Button beim Handy*/
.show-more-btn{
    display: none ;
}

@media (max-width:768px) {
    .page-layout {
        grid-template-columns: 1fr; /* alles in 1 column*/
        grid-template-areas: /*zuerst right dann left*/
            "right"
            "left";
    }

    .left-side,
    .right-side {
        padding: 20px;
        
    }

    .dish {
        flex-direction: column;
        gap: 10px;
        padding: 15px 0;
    }

    .dish>img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        padding-left: 15px;
        padding-right: 350px;
    }

    .info h3 {
        margin-bottom: 4px;
        margin-left: 15px;

    }

    .info p {
        line-height: 1.4;
        margin-bottom: 6px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #zeitangabe {
        display: flex;
        align-items: center;
        margin-left: 15px;
        margin-bottom: 10px;
        gap:10px !important;
    }
    .kleintext{
    margin-bottom: 0px !important; /*Verhindert, dass der Text nach unten Platz wegnimmt*/
    padding-left: 0px !important; /*Entfernt jeden inneren Seitenabstand links.*/
    margin-left: 0px !important; /*Entfernt jeden äußeren Seitenabstand links.*/
    }
    .recipe-btn {
        display: inline-block; /*Element nimmt es  nur so viel Platz ein, wie der Inhalt (der Text "zum Gericht") wirklich braucht*/
        margin-top: 5px;
        margin-right: 15px;
    }

    /* Suche alle <section>-Elemente mit der Klasse .new, denen bereits eine <section> mit der Klasse .new vorausgegangen ist 
    (innerhalb desselben Containers .right-side). Die erste Sektion wird ignoriert (da vor ihr keine andere .new-Sektion steht)*/
    .right-side section.new ~ section.new {
        display: none;

    }
   
    /* mehr anzeigen button */
    .show-more-btn {
        display: inline-block !important;
        margin-top: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 12pt;
        font-style: normal;
        color: var(--weborangelight);
        cursor: pointer;
    }

    /* wenns geöfnet dann alles anzeigen */
    .right-side.open section.new {
        display: block !important; /*Schaltet das Element von none (unsichtbar) zurück auf block (sichtbar)*/
    }
   
    /* BREADCRUMB AUFLÖSEN */
    .breadcrumb {
        display: none;
    }
}