@import url("../styles.css");

#topSection {
    display: flex;
    flex-direction: row;
    background-color: var(--weborange);
    color: var(--webwhite);
    padding: 40px 120px 50px 192px;
}

#marker {
    width: 100px;
    filter: brightness(0.85);
    right: 80px;
    transform: rotate(10deg);
}

.darkmode #marker {
    filter: brightness(0.1) saturate(0);
}


#toplogo {
    position: absolute;
    width: 300px;
    filter: brightness(0.85);
    right: 80px;
}

.darkmode #toplogo {
    filter: brightness(0.1) saturate(0);
}


#explanation {
    background-color: var(--webblue);
    color: var(--webwhite);
    text-align: center;
    padding: 22px 80px 22px 80px;

}

#otherDishes {
    background-color: var(--webwhite);
    color: var(--webblack);
    padding: 22px 80px 22px 80px;
}

#mapSection {
    background-color: var(--webgray);
}

.darkmode #mapSection {
    filter: invert();
}

.darkmode #mapSection path {
    fill: var(--weborangelight);

}

#mapSection svg {
    width: 100vw;
    height: 70vh;
}

#mapSection path {
    fill: var(--webblack);
    stroke-width: 2px;
    stroke: var(--webgray);
}

#mapSection path:hover {
    fill: var(--weborange);
    stroke-width: 0.3em;
}



.world-map {
    transform-origin: center center;
    /* Zoomt aus der Mitte heraus */
    transition: transform 0.2s ease;
    /* Macht die Bewegung weich */
    overflow: hidden;
    /* Alles, was größer als der Kasten ist, wird unsichtbar */
    position: relative;
    width: 100%;
    height: 70vh;
    /* Oder deine feste Höhe */
    z-index: 1;
}

.zoom-controls {
    position: absolute;
    z-index: 10;
    background-color: var(--webblue);
    padding: 3px 15px 12px 15px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    border-bottom-right-radius: 12px;
}

.darkmode .zoom-controls {
    filter: invert();
}

.zoom-controls button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 25%;
    background-color: var(--weborange);
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20pt;
    font-style: normal;
    color: var(--webwhite);

}

.zoom-controls button:hover {
    border: 2px solid var(--webwhite);
}

#gerichtekreis {
    background-color: var(--weborange);
    width: 140px;
    height: 140px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: var(--webwhite);
    margin-left: 80px;
    margin-top: 60px;
    position: absolute;
    z-index: 500;
}

.darkmode #gerichtekreis {
    width: 140px;
    height: 140px;
    background-color: var(--webwhite);
    color: var(--webblack)
}

#land-panel {
    position: absolute;
    background-color: var(--webwhite);
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: var(--webblack);
    z-index: 500;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 -2.5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 12px 12px;
}

.darkmode #land-panel {
    box-shadow: 0 -2.5px 15px rgba(255, 255, 255, 0.2);
}

#land {
    font-weight: 600;
}




#tofood {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 45px;
    border-radius: 12px;
    background-color: var(--webblue);
    border: none;
    color: var(--webwhite);
    z-index: 501;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12pt;
    margin-top: -65px;

    overflow: hidden;
    transition: all 0.2s ease;
}

#tofood:hover {
    color: var(--webwhite);
    background-color: var(--weborange);
    cursor: pointer;
    font-weight: 600;
}

.darkmode #tofood {
    filter: invert();
}

.darkmode #tofood:hover {
    background-color: var(--webgray);
    color: var(--webblack);
    font-weight: 600;
}

#suchleisteland {

    position: absolute;
    z-index: 10;
    background-color: var(--webblue);
    padding: 3px 80px 12px 15px;
    display: flex;
    gap: 12px;
    right: 0px;
    border-bottom-left-radius: 12px;

}

#laendersuche {
    height: 30px;
    border-radius: 8px;
    border: none;
    padding: 3px 3px 3px 10px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 10pt;
    font-style: normal;
    color: var(--webblack);
    background-color: var(--webgray);
}

#laendersuche:focus {
    outline: 2px solid var(--webgray);
}

.darkmode #suchleisteland {
    filter: invert();
}

.darkmode #laendersuche {
    filter: invert();
}